.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 6vh;
  padding-bottom: 10vh;
  height: 20vh;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
  color: white;
  width: 100%;
}

.griding{
  display: grid;
  grid-template-columns: 8em 8em 8em;
  grid-column-gap: 5em;
  justify-content: space-evenly;
}
.links{
  margin-right: 1em;
}

@media screen and (max-width : 700px) {
  .main{
    width: 235%;
    height: 40vh;
  }

  .copy{
    width: 235%;
  }
}